
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(189, 189, 189);
    background-image: url('https://gifdb.com/images/high/blue-pool-water-reflection-ac7ghsk1xa52q7cn.gif') ;
    background-size: cover;
    background-blend-mode: screen;
    overflow: hidden;
}
form{
    position:relative;    
    display:flex;
    align-content: center;
    left: 60%;      
}
.topbar{
    size-adjust: 1vh 1vh;
    position: absolute;
}
    
.blur {
    
    background: none;
    backdrop-filter: blur(5px);
    margin: 10vh 0;
    height: 70vh;
    box-shadow: 2px 10px 20px  rgba(72, 72, 72, 0.253);
    
}


header {
    display: flex;
    justify-content: center;
    padding-top: 10px;    
}

header img{    
    align-content: center;
    width: 100px;
    padding-left: 15px;
      
}

header img:hover {
    opacity: 30%;    
    border-image: url('https://i.pinimg.com/originals/2c/83/d8/2c83d886658334186cab273cfc42af5a.gif');
    border-radius: 20px;
}
header form{
    position: absolute;
    display: grid;
    padding-left: 1000px;
    size:100px;
    

}
form button{
    size:8px;
    background-image: url('https://raw.githubusercontent.com/toninavhd/ETS/main/html/web/img/login.png');
}
main {   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 50em;
}
.slinky
{
    position:absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.slinky h1
{
    position: fixed;
    bottom: -10dvb;  
    right: -30dvb; 
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 8em;    
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 2px #000;
    animation: animate alternate 4s infinite;

}
.slinky h2{    
    
    right: 1dvb;
    bottom:10dvb;
    background: url('https://i.pinimg.com/originals/2c/83/d8/2c83d886658334186cab273cfc42af5a.gif');
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;  
    
   
}



.slinky h1:nth-child(1){
    animation-delay: -0.04s;
    color: #ff0000;
}
.slinky h1:nth-child(2){
    animation-delay: -0.08s;
    mix-blend-mode: screen;
    color: blue;
}
.slinky h1:nth-child(3){
    animation-delay: -0.12s;
    color: yellow;
    mix-blend-mode: difference;
}
.slinky h1:nth-child(4){
    animation-delay: -0.16s;
    color: rgb(1, 222, 1);
    mix-blend-mode: difference;
}
.slinky h1:nth-child(5){
    animation-delay: -0.20s;
    color: rgb(253, 10, 164);
    mix-blend-mode: difference;
}
.slinky h1:nth-child(6){
    animation-delay: -0.24s;
    color:aquamarine;
    mix-blend-mode: exclusion;
}
.slinky h1:nth-child(7){
    animation-delay: -0.28s;
    mix-blend-mode: exclusion;
    
}
.slinky h1:nth-child(8){
    animation-delay: -0.32s;
    
}





@keyframes animate{
    0%,100%{
        left: -50px;
        
    }
    25%{
        left: 200px;
    }
    50%{
        left: 50px;
    }
    75%{
        left: -200px;
    }

}

section {
    
    width: 60vw;
    position: relative;
    left: 100px;
    padding: 0 0 15em;
    color: rgb(0, 0, 0);
    text-shadow: white 2px 0 10px, black 0 2px 15;
    
}

section h1{
    padding-left: 15px;
    align-content: center;
    font-size: 5em;
    font-weight: 800;
}

section p{    
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 1em;
    font-weight: 600;
}

.menu{    
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    grid-template-rows: repeat(3, .5fr);
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
}

.menu img {
    
    width: 12vw;
    border-radius: 15px;
    opacity: 90%;
   
}

.menu div {
    border: 0cap solid rgb(5, 5, 5);
    border-radius: 15px;
    margin: 10px 10px 10px;
    box-shadow: 3px 3px 5px 2px rgb(251, 181, 234);
    background: radial-gradient(rgb(255, 255, 255) 45%, rgb(247, 158, 225) 80%);
    transition: all .1s ease-in-out;
}

.menu div:hover {
    box-shadow: 5px 5px 10px 2px  rgb(255, 149, 218);
    background: radial-gradient(rgb(246, 49, 177) 30%, rgb(255, 149, 218) 100%);
    scale: scale(1,05);

}

container{
    
    display:inline;
    position: relative;
    right: 75% ;
    top:35%;     
    box-shadow: -10px 5px 50px 5px rgb(49, 49, 49);
  
}


.container iframe{
    display: grid;
    background-attachment: fixed;    
}

footer{
    opacity: 60%;
    display: flex;
    justify-content: center;
    padding-top: -20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
